a {
  text-decoration: none;
}
#search-bar {
    height: 0px;
}

#content {
    padding-top: 20px;
}

#content .clients.form {
    margin-bottom: 20px;
}

#content #left-col {
    height: 97vh;
}

#content #right-col {
    /*! width: 870px; */
    /*! margin-left: 10px; */
}

#content #left-col .panel {
    height: auto;
}

#content #right-col .row.r1 .panel-wrapper {
    /*! height: 200px; */
}

#content #right-col .row.r2 {
    /*! height: 100%; */
}

#content .panel .panel-body .section-title-bold {
    margin-bottom: 5px;
}

#content .space {
    height: 5px;
}

/************************/
/** Datos del cliente  **/
/************************/

#content .panel.datos-cliente .panel-content {
    max-height: 88vh;
}

/*button#search-client {
    bottom: 2px;
    position: relative;
    right: -7px;
}*/

#content #ClientId {
    width: 45px;
}
#content #left-col label[for="ClientRut"] {
    margin-left: 30px;
}
#content #ClientRut {
}
#content #ClientEsquina1 {
    width: 249px;
}
#content #ClientEsquina2 {
    width: 209px;
}
#content #ClientRefiere {
    width: 97px;
}
#content #ClientCodigoPostal {
    width: 50px;
}
#content #ClientEntregaSugerida {
    width: 200px;
}
#content #ClientRefierePorcentaje {
    width: 113px;
}
#content #ClientRazonSocial,
#content #ClientNombreFantasia,
#content #ClientDireccionFiscal,
#content #ClientRefiere {
    width: 190px;
}
#content #ClientPaymentTypeId {
    width: 214px;
}
#content #ClientObservaciones {
    width: 100%;
    padding: 5px;
}
#content #ClientAaa {
    width: 148px;
}
#content #ClientBbb {
    width: 140px;
}
#content #added-contacts,
#content #added-addresses {
    margin-top: 10px;
}
#content #added-contacts span.name,
#content #added-addresses span.direccion {
    padding-top: 7px;
    font-weight: bold;
    margin-left: 0;
}

#content .added-contact,
#content .added-address{
    margin: 5px 10px;
}

/************************/
/** Grids              **/
/************************/

#content .grid table{
    width: 100%;
}

#content .grid table td,
#content .grid table th {
    border-left: 1px solid #0078A8;
    border-bottom: 1px solid #0078A8;
    padding: 5px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

#content .grid table th,
#content .grid table th a {
    color: #0078A8 !important;
    font-weight: bold !important;
}

/***************************/
/** Ordenes en curso      **/
/***************************/

#content .panel.ordenes-en-curso .panel-content {
    padding: 0;
}

#content .panel.ordenes-en-curso .grid { /* prueba */
    height: 28vh;
}

#content .panel.ordenes-en-curso .caja{ /* prueba */
    height: 250px;
}

#content .panel.ordenes-en-curso .panel-body {
    padding: 0;
}

/***************************/
/** Ordenes finalizadas   **/
/***************************/

#content .panel.historial-ordenes {
    height: 100%;
}

#content .panel.historial-ordenes .panel-content {
    padding: 0;
    overflow-y: auto;
    max-height: 57VH;
}

#content .panel.historial-ordenes .panel-body {
    padding: 0; 
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
    text-decoration: none;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

/**********************************************************/
/***************************LOADING************************/
/**********************************************************/
.upload_container {
  background-color:#000000;
  height:100%;
  opacity:0.3;
  filter: alpha(opacity=30);
  position:absolute;
  text-align:left;
  top:0;
  width:100%;
  z-index:100100;
}
.progressWindow{ color: #ffffff; font-size: 14px; }
.upload_progress {
  border:3px solid gray;
  height:100px;
  left:50%;
  margin-left:-150px;
  margin-top:-50px;
  overflow:auto;
  position:absolute;
  top:50%;
  width:300px;
  z-index:100101;
  background-color: #000000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 5px;
  text-align: center;
}
div.upload_progress img{
  margin-top: 25px;
}
.space {height: 10px;width: 100%;}