
*, html, body {
    font-family: sans-serif;
    font-size: 11.5px;
    /*border: 1px red solid;*/
}

html, body {
    background-color: #EDEDED;
    margin: 0;
    padding: 0;
}

input[readonly="readonly"] {
    background-color: #dedede;
}

.a-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.btn-entrega {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
    background-color:#2dabf9;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size: 11px;
    padding:1px 3px;
    text-decoration:none;
    text-align: center;
    text-shadow:0px 1px 0px #263666;
}
.btn-entrega:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
    background-color:#0688fa;
}
.btn-entrega:active {
    position:relative;
    top:1px;
}


.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#container {
    position: relative;
    min-height: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.elipse {
  overflow: hidden;
  position: relative; 
  line-height: 1.4em;
  /* max-height = line-height (1.4) * lineas maximas (2) */
  max-height: 2.9em; 
}


#search-bar {
    height: 0px;
    width: 1024px;
    background-color: #006dcc;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}

#header {
    overflow: hidden;
    position: absolute;
    top: 0px;
    z-index: 9999;
    /*top: 50px;*/
    /*top: 10px;*/
    left: 0px;
    width: 100%;
    height: 110px;
    background-color: #EDEDED;
}

#header.animated {
    -webkit-box-shadow: 0px 3px 32px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 32px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 32px 0px rgba(0,0,0,0.75);
}

#header > div {
    float: left;
}

#header-logo {
    display: grid;
    align-content: center;
    justify-content: start;
    margin: 33px 20px 0px 30px;
    width: 190px;
}

#header-logo img {
    height: auto;
    max-width: 176px;
    width: 100%;
}

@media (min-width: 900px) and (max-width: 1279px) {
    #header-logo {
        margin: 33px 0px 0px 30px;
        width: 20vw;
    }
}
@media (max-width: 899px) {
    #header-logo {
        margin: 10px 10px 0 30px;
        height: 65px;
        width: 23vw;
    }
}
@media (max-width: 767px) {
    #header-logo {
        margin: 4px 0px 0px 30px;
        height: 44px;
        width: 90vw;
    }
}

.table-responsive {
    display: table;
    width: 100%;
    overflow-x: none;
}
@media (max-width: 1280px) {
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
}

#top-menu {
    width: 800px;
    margin-top: 15px;
}

@media (min-width: 900px) and (max-width: 1279px) {
    #top-menu {
        width: 70vw;
        margin-top: 15px;
    }
}
@media (max-width: 899px) {
    #top-menu {
        width: 59vw;
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    #top-menu {
        width: 80vw;
        margin-top: 10px;
        margin-left: 30px;
    }
}

#top-menu-inner {
    /*background: transparent url('../img/fondo-menu.png') no-repeat;*/
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #cacaca;
    margin: 0;
    text-align: center;
    padding-top: 11px;
}

@media (max-width: 899px){
    #top-menu-inner {
        height: 65px;
        padding-top: 7px;
    }
}

#top-menu-inner .menu-option {
    width: 15%;
    height: 100%;
    display: inline-block;
    text-align: center;
}

#top-menu-inner .menu-option .caption {
    font-size: 13px;
    font-weight: bold;
    margin-top: 8px;
    text-decoration: none !important;
    font-style: normal !important;
    color: #333;
}
@media (max-width: 899px){
    #top-menu-inner .menu-option .caption {
        font-size: 10px;
        font-weight: normal;
        margin-top: 6px;
    }
}
@media (max-width: 767px) {
    #top-menu-inner .menu-option .caption {
        font-size: 8px;
        font-weight: normal;
        margin-top: 3px;
    }
}

#top-menu-inner .menu-option .icon {
    height: 45px;
    background-position: top center;
    background-repeat: no-repeat;
}
@media (max-width: 899px){
    #top-menu-inner .menu-option .icon {
        height: 35px;
        background-size: auto 100%;
    }
}
@media (max-width: 767px) {
    #top-menu-inner .menu-option .icon {
        height: 28px;
    }
}


#top-menu-inner .menu-option.ordenes .icon {
    background-image: url('../img/icons/icono-ordenes--inactivo.png');
}

#top-menu-inner .menu-option.clientes .icon {
    background-image: url('../img/icons/icono-clientes--inactivo.png');
}

#top-menu-inner .menu-option.admin .icon {
    background-image: url('../img/icons/icono-adm-ventas--inactivo.png');
}

#top-menu-inner .menu-option.caja .icon {
    background-image: url('../img/icons/icono-presupuesto--inactivo.png');
}

#top-menu-inner .menu-option.admin.current .icon,
#top-menu-inner .menu-option.admin:hover .icon {
    background-image: url('../img/icons/icono-adm-ventas--activo.png');
}

#top-menu-inner .menu-option.ordenes.current .icon,
#top-menu-inner .menu-option.ordenes:hover .icon {
    background-image: url('../img/icons/icono-ordenes--activo.png');
}

#top-menu-inner .menu-option.clientes:hover .icon,
#top-menu-inner .menu-option.clientes.current .icon {
    background-image: url('../img/icons/icono-clientes--activo.png');
}

#top-menu-inner .menu-option.caja:hover .icon,
#top-menu-inner .menu-option.caja.current .icon {
    background-image: url('../img/icons/icono-presupuesto--activo.png');
}

#top-tools {
    width: 100px;
    padding: 48px 15px 0 15px;
}
@media (min-width: 900px) and (max-width: 1279px) {
    #top-tools {
        width: 6vw;
        padding: 48px 0px 0px 10px;
    }
}
@media (max-width: 899px) {
    #top-tools {
        width: 5vw;
        padding: 20px 0px 0px 8px;
    }
}

#top-tools ul {
    margin: 0;
    padding: 0;
}

#top-tools li {
    list-style: none;
    display: inline;
}

#top-tools li i.nuevo {
    background-image: url('../img/icons/nuevo.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width:24px;
    height: 24px;
}

#content {
    clear: both;
    padding: 20px 30px 0px 30px;
}

@media (max-width: 576px) {
    #content {
        clear: both;
        padding: 5px 7px 0px 7px;
    }
    
}

/*#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;

    background-color: #CCC;
    padding: 10px 0;
    text-align: center;
    font-size: 11px;
}*/

.clear {
    clear: both;
}

.hidden {
    display: none !important;
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

#content {
    /*padding-top: 160px;*/
    padding-top: 116px;
}

#content select:not(:first-child),
#content input:not(:first-child),
#content label:not(:first-child),
#content button:not(:first-child),
#content .dropdown:not(:first-child) {
    margin-left: 5px;
    max-height: 24px;
}

input:not([type=button]):not([type=submit]) {
    border: 1px solid #008fdd !important;
    padding: 3px !important;
    outline-color: transparent !important;
}

input[type=number] {
    -moz-appearance: textfield !important;
}

.dropdown select {
    background: transparent !important;
    padding: 3px 25px 3px 0 !important;
    line-height: 1 !important;
    border: 0 !important;
    border-radius: 0 !important;
    height: 20px !important;

    /* remove arrow */
    text-indent: 0.01px !important;
    text-overflow: '' !important;
    -webkit-appearance: none !important;
    /*-moz-appearance: none !important;*/
    /*-moz-appearance: window !important;*/
    -moz-appearance: none !important;
}

.dropdown {
    border: 1px solid #008fdd !important;
    /*display: inline-block !important;*/
    vertical-align: middle;

    /* La magia */
    /* Se merece un espacio muy grande */
    /*! overflow: hidden; */
    background: url('../img/icons/flecha-drop-down.png') no-repeat right #fff;
    max-height: 24px;
}

textarea {
    resize: none !important;
}

#content div.input {
    padding: 10px 0;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.r-float {
    float: right;
}

.l-float {
    float: left;
}
.logo-mobile {
    height: 44px !important;
    width: auto !important;
}

.inline-block {
    display: inline-block;
}

.inline-block.hidden {
    display: none;
}

.bold {
    font-weight: bold !important;
}

.shrink {
    margin: 0;
}

.color-thumb {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 3px;
    border: 1px solid #888;
}

.resumen-colores {
    text-align: center;
    max-width: 140px;
}

.no-colors-message {
    display: none;
    margin-top: 10px;
    display: block;
    color: #666 !important;
    font-style: italic;
}

div.fields-row {
    padding: 5px 0;
    margin: 0;
    clear: both;
}

span.no-results {
    display: block;
    margin: 10px;
}

input[enabled='0'] {
    background-color: #eee;
}

/******************************************/
/** Panels                               **/
/******************************************/

/*#content .panel-wrapper {
    width: 100%;
    display: block;
    height: 100%;
}*/

#content .col-inner {
    display: block;
    width: 100%;
    height: 100%;
}

#content .col-inner > .row {
    display: block;
    width: 100%;
}

#content .row > .panel-wrapper {
    width: 100%;
    display: block;
    height: auto;
}

#content .row > .panel-wrapper {
    /*! padding-bottom: 15px; */
}

#content .row:last-child > .panel-wrapper {
    padding-bottom: 0px;
}

.panel label {
    line-height: 20px;
}

#content .panel {
    background-color: #FFF;

    -webkit-box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.3);
    box-shadow: 7px 7px 15px -5px rgba(0,0,0,0.3);
}

#content .panel.closed {
    overflow-y: hidden;
    height: 25px;
    width: 100%;
}

#content .panel .panel-title {
    /*background-color: #FC0096;*/
    background-color: #ffbd73;
    color: #333;
    height: 26px;
    padding: 5px 10px;
    margin: 0;
}

#content .panel.collapsable .panel-title {
    background-image: url('../img/panels/flecha-colapsar-panel-vertical.png');
    background-repeat: no-repeat;
    background-position: center right 10px;
}

#content .panel.collapsable.closed .panel-title {
    background-image: url('../img/panels/flecha-expander-panel-vertical.png');
}

#content .panel .panel-body {
    padding: 0 0 10px 0;
    margin: 0;
}

#content .panel .panel-body input,
#content .panel .panel-body select,
#content .panel .panel-body textarea,
#content .panel .panel-body label {
    color: #444;
}

#content .panel .panel-body .section-title {
    clear: both;
    padding: 0;
}

#content .panel .panel-body .section-title-bold {
    font-weight: bold !important;
    font-size: 12px !important;
}

#content .panel .panel-body .panel-content {
    padding: 5px 10px 0 10px;
    overflow-y: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
    #content .panel .panel-body .panel-content {
        padding: 5px 10px 0px 2px;
    }
}

#content .panel .panel-body .panel-content * {
    font-size: 11px;
    color: #333;
    font-family: sans-serif;
    font-weight: lighter;
}

@media (max-width: 576px) {
    #content .panel .panel-body .panel-content * {
        font-size: 13px;
        color: #333;
        font-family: sans-serif;
        font-weight: normal;
    }
}

.separator {
    height: 0px;
    border: solid 1px #EEE;
    margin: 5px 0;
}

#content .panel .panel-body .panel-content div.input {
    padding: 5px 0;
    height: 20px;
}

#content .panel .panel-body .panel-content div.input img {
    padding: 0;
    height: auto;
    width: auto;
    vertical-align: middle;
}

#content .panel .panel-body .panel-content > div.inline {
    display: inline-block;
}

#content .panel .panel-body .panel-content > div.inline:not(.first) label {
    margin-left: 5px;
}

#content .panel .panel-body .panel-content > div.inline.first:not(.labeled) input,
#content .panel .panel-body .panel-content > div.inline.first:not(.labeled) select {
    margin-left: 0;
}

#content .panel .panel-body .panel-content select {
    /*background-color: #FFF;*/
    /*border: solid #0082DD 1.5px;*/
    outline: none;
}

/*
#content .panel .panel-body .panel-content input:not([type=button]),
#content .panel .panel-body .panel-content select,
#content .panel .panel-body .panel-content .ui-datepicker-trigger
{
    float: right;
}
*/

#content .panel .panel-body .panel-content > div.inline input {
    float: none;
}

#content .panel .panel-body .panel-content input[type=text]:after {
    clear: both;
}

#content .panel .panel-body .panel-content .section-title {
    /*! margin-bottom: 7px; */
    margin-left: 8px;
}

#content .panel .panel-body .panel-content .inner-sep.bigger {
    height: 8px;
}

#content .panel .panel-body .panel-content .message {
    border: 1px solid #0082DD;
    padding: 4px;
    font-style: italic;
    font-size: 10px;
}

#content .panel .panel-body .panel-content .top-aligned {
    vertical-align: top;
}

#content button.add,
#content button.remove,
#content button.edit {
    width: 17px;
    height: 17px;
    border: none;
}
#content button.popup {
    width: 16px;
    height: 16px;
    border: none;
    background: transparent url('../img/icons/ir-popup.png') no-repeat;
}

#content button.add {
    background: transparent url('../img/icons/mas.png') no-repeat;
}

#content button.remove {
    background: transparent url('../img/icons/menos.png') no-repeat;
}

#content button.edit {
    background: transparent url('../img/icons/editar.png') no-repeat;
}

/******************************************/
/** Tabs                                 **/
/******************************************/

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #777;
}
.ui-state-default a:hover {
    color: #FFF;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #000;
}
.ui-tabs > .ui-widget-header {
    background: #FFBD73;
    border: #FFBD73 1px solid;
}
.ui-tabs .ui-tabs-nav {
    padding: 0px 0.2em;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0.2em 1em;
    font-weight: normal;
}

/******************************************/
/** Action buttons                       **/
/******************************************/
.action-button {
    background-color: #0097D4 !important;
    border: none !important;
    box-shadow: 1px 0px 2px 0px rgba(50, 50, 50, 0.75);
    color: #fff !important;
    max-width: 145px;
    outline: none;
    /*padding: 6px 8px !important;*/
    -moz-box-shadow: 1px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 1px 0px 2px 0px rgba(50, 50, 50, 0.75);
}
.action-button.main {
    background-color: #005B80 !important;
}

a.action-button {
    color: #fff !important;
    /*padding: 7px 8px !important;*/
    text-decoration: none !important;
    margin: 0 3.5px 4px 3.5px !important;*/
}
button.action-button {
    color: #fff !important;
    /*padding: 7px 8px !important;*/
    text-decoration: none !important;
    margin: 0 3.5px 4px 3.5px !important;*/
}
input.action-button {
    margin: 0 3.5px 4px 3.5px !important;*/
}

.form-actions {
    margin-top: 10px;
}
@media (min-width: 575px) and (max-width: 4000px) {
    .form-actions {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

/******************************************/
/** Flash messages                       **/
/******************************************/

#flashMessage {
    position: absolute;
    left: 50%;
    top: -6px;
}

#flashMessageWrapper {
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: lightyellow;
    left: -50%;
    padding: 15px 15px 5px 15px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
}

/******************************************/
/**  Search client box                   **/
/******************************************/

#search-client {
    margin-left: 2px;
    background-image: url('../img/icons/buscar.png');
    border: none;
    height: 20px;
    width: 24px;
}

#client-search-box .box {
    width: 640px;
    margin: 100px auto 0 auto;
}

#client-search-box .box .fields {
    width: 100%;
}

#content #client-search-box .box .fields div.input {
    padding: 5px 0;
}

#client-search-box .box .fields .input {
    text-align: center;
}

#client-search-box .box .fields label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

#client-search-box .box .fields input:not([type=submit]) {
    margin-right: 20px !important;
    width: 250px !important;
}

#client-search-box .box .fields input[type=submit] {
    margin-left: 370px !important;
    width: 100px !important;
}

#client-search-box .box .results-wrapper, .tareas .box .results-wrapper {
    padding-top: 15px;
}

#client-search-box .box .results-wrapper table, .tareas .box .results-wrapper table {
    width: 100%;
}

#client-search-box .box .results-wrapper thead tr, .tareas .box .results-wrapper thead tr {
    background-color: #008fdd;
}

#client-search-box .box .results-wrapper thead th, .tareas .box .results-wrapper thead th {
    padding: 5px;
}

#client-search-box .box .results-wrapper thead a, .tareas .box .results-wrapper thead a {
    color: #FFF !important;
}

#client-search-box .box .results-wrapper tbody tr, .tareas .box .results-wrapper tbody tr {
    background-color: #FFF;
    border: 1px solid #999;
    cursor: pointer;
}

#client-search-box .box .results-wrapper tbody tr:hover, .tareas .box .results-wrapper tbody tr:hover {
    background-color: #EEE;
}

#client-search-box .box .results-wrapper td, .tareas .box .results-wrapper td {
    padding: 5px;
}

#client-search-box .box .results-wrapper .nav {
    text-align: center;
    border-top: 1px solid #008fdd;
    padding-top: 12px;
    margin-top: 10px;
}

#client-search-box .box .results-wrapper .nav span, .tareas .box .results-wrapper .nav span {
    margin: 5px 3px;
    color: #008fdd;
}

#client-search-box .box .results-wrapper .nav .disabled, .tareas .box .results-wrapper .nav .disabled {
    color: #bbb;
}

#client-search-box .box .results-wrapper .nav .current, .tareas .box .results-wrapper .nav .current {
    color: #fa0;
}

#client-search-box .box .results-wrapper .nav span a, .tareas .box .results-wrapper .nav span a {
    color: #008fdd;
}

/***************************************/
/*** Popups                          ***/
/***************************************/
div.popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:9999;
    display: none;
}

div.popup * {
    font-size: 12px;
}

div.popup .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0.8;
}

div.popup .box {
    position: relative;
    border: solid 2px #005a83;
    background-color: #FAFAFA;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

div.popup .popup-title {
    background-color: #FFF !important;
    color: #005a83 !important;
    font-size: 12px !important;
    padding: 6px 10px !important;
    font-weight: bold !important;
    border: none !important;
    -webkit-border-top-left-radius: 8px !important;
    -webkit-border-top-right-radius: 8px !important;
    -moz-border-radius-topleft: 8px !important;
    -moz-border-radius-topright: 8px !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.25) !important;
    -moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.25) !important;
    box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.25) !important;
}

div.popup .popup-body {
    padding: 20px;
}

/***************************************/
/*** Validation                      ***/
/***************************************/
input:not([type="button"]):not([type="submit"]).invalid,
select.invalid,
div.dropdown.invalid,
textarea.invalid {
    border: 2px solid red !important;
}

/***************************************/
/*** Index                           ***/
/***************************************/
#content .index table.results {
    /*width: 100%;*/
    background-color: #fff;
}
#content .index table.results thead tr {
    background-color: #DDD;
    color: #fff;
}
#content .index table.results thead tr:first-child {
    background-color: #008fdd;
}
#content .index table.results thead a {
    color: #fff;
}
#content .index table.results tbody tr:hover {
    background-color: #EEE;
}
#content .index table.results td {
    border-bottom: solid 2px #CCC;
}
#content .index table.results td,
#content .index table.results th{
    padding: 5px 10px;
    text-align: left;
}

#content .index .nav {    
    display: grid !important;
    justify-items: center;
    margin: 10px 0 10px 0;
    width: 100%;

}

#content .nav .paging {
    margin-bottom: 10px;
}

#content .index .nav span {
    margin: 5px 3px;
    color: #008fdd;
}

#content .index .nav .disabled {
    color: #bbb;
}

#content .index .nav .current {
    color: #999;
}

#content .index .nav span a {
    color: #008fdd;
}

/******************************************/
/**  Edit address box                    **/
/******************************************/

.popup.edit-direccion .box {
    margin: 150px auto 0 auto;
    width: 340px;
}

.popup.edit-direccion .box .direccion {
    width: 289px;
}

.popup.edit-direccion .box .ciudad {
    width: 128px;
}

.popup.edit-direccion .box .codigoPostal {
    width: 40px;
}

.popup.edit-direccion .box .departamento {
    width: 100px;
}

.popup.edit-direccion .box .esquina_1,
.popup.edit-direccion .box .esquina_2 {
    width: 138px;
}

.popup.edit-direccion .box .notas {
    width: 293px;
}

.popup.edit-direccion .box .options {
    text-align: right;
    padding-right: 10px;
}

/******************************************/
/**  Edit contact box                    **/
/******************************************/

.popup.edit-contacto .box {
    margin: 100px auto 0 auto;
    width: 350px;
}

.popup.edit-contacto .box .options {
    text-align: right;
    padding-right: 4px;
}

.popup.edit-contacto .box .contactNombre,
.popup.edit-contacto .box .contactEmail,
.popup.edit-contacto .box .contactNotas {
    width: 300px;
}

.popup.edit-contacto .box .contactCargo {
    width: 117px;
}

.popup.edit-contacto .box .contactCelular,
.popup.edit-contacto .box .contactTelefono,
.popup.edit-contacto .box .contactFax {
    width: 91px;
}

.popup.edit-contacto .box .contactInterno {
    width: 40px;
}

.popup.edit-contacto .box .contactHorario {
    width: 170px;
}

.popup.edit-contacto .box .contactDepartamento {
    width: 112px;
}

.popup.edit-contacto .box .contactDireccion {
    width: 175px;
}

/******************************************/
/**  Orders box                          **/
/******************************************/

.orders-box .nav {
    background-color: #FFBD73;
    color: #000;
    text-align: center;
    padding: 4px;
}

.orders-box .nav span {
    margin: 3px;
}

.orders-box .nav a {
    color: #000;
}

/******************************************/
/**  Vias Selection box                  **/
/******************************************/

#seleccion-vias .box {
    width: 435px;
    margin: 180px auto 0 auto;
}

#special-text .box {
    width: 435px;
    height: 232px;
    margin: 173px auto 0 auto;
}

#seleccion-caja .box {
    width: 700px;
    height: 545px;
    margin: 10px auto 0 auto;
}

#seleccion-vias .box #add-via {
    margin-left: 3px;
}

#seleccion-vias .box div.input {
    padding-top: 2px;
    padding-bottom: 2px;
}

#seleccion-vias #DivJuegosVias {
    margin-top: 10px;
}

#seleccion-vias #recomendacionVias {
    margin-top: 20px;
}

#seleccion-caja .options {
    margin-left: 75px;
    vertical-align: middle;
    with: 200px;
    margin-bottom: 2px;
}
#seleccion-caja .content{
    font-size: 11px;
    color: #444;
    font-family: sans-serif;
    font-weight: lighter;
}

.saldos_efectivo{
    margin-left: 5px;
    display: inline-block;
    margin-top: 5px;
}

.saldos_efectivo .saldos_efectivo_content{
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 15px;
}

.saldos_efectivo .column{
    display: flex;
}

.r-float,.ui-datepicker-trigger {
    float: right;
}

.search-client {
    margin-left: 2px;
    background-image: url('../img/icons/buscar.png');
    border: medium none;
    height: 20px;
    width: 24px;
}

#lock{
    position: absolute;
    margin-top: 73px;
    margin-left: 59px;
    width: 32px;
    height: 32px;
    display:inline-block;
    background: url("../img/icons/lock-open.png") no-repeat -1px -1px;
}

#lock.locked{
    background: url("../img/icons/lock.png") no-repeat 3px 1px;
}

/*Gaston*/
.noconfirmado {
    background: #FDFEE0;
    color: #000;
}

.orderimpresa {
    background-color: #8FBC8F;
    color: #FFF;
}

#content .index table.results tr:hover {
    color: #000;
}

input.gris {
    background: #e3e3e3 !important;
}
.no-margin {
    margin: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}
.pinza {
    margin-left: 7px;
}
.ml-7 {
    margin-left: 7px;
}

@media (max-width: 767px) {
  .hidden-xs {
      display: none !important;
    }
}
.visible-xs, .visible-sm {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
    .small-title {
        font-size: 8.45px;
    }   
}